option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: src.core.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: core.settings
    DJANGO_DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com" 