option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    DJANGO_SETTINGS_MODULE: core.settings
    DJANGO_SECRET_KEY: "dAFwqVusHxrAQ_CNsZFgP8uGEwqnFk3QwvjHVv-3Vd4UJZfHmN7RxbMYBPKd_2AW"
    DJANGO_DEBUG: "False"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    WSGIPath: backend/src/core/wsgi.py
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: staticfiles
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application 